{
  "aldereon": "1604",
  "angrim": "17760",
  "bbt": "5926",
  "bm": "85",
  "branch-circle": "8745",
  "branch-dunland": "13869",
  "branch-khuzur": "15213",
  "branch-noc": "8530",
  "branch-tallorc": "14704",
  "branch-vt": "8359",
  "brolg": "66712",
  "bwb": "3184",
  "dwaling": "17234",
  "emoria": "17903",
  "eruined": "12133",
  "etbad": "11591",
  "ferny": "4332",
  "fordable": "5941",
  "forlond": "146",
  "foy": "8742",
  "galerel": "4780",
  "grinder": "6861",
  "harlond": "1122",
  "ingrove": "9489",
  "khuzur": "15106",
  "lb": "5549",
  "lbf": "5567",
  "lorien": "21954",
  "lorien-nferry": "21814",
  "lorien-sferry": "22451",
  "lorien-stumps": "16603",
  "malardil-forest": "11368",
  "malardil-wall": "11427",
  "md": "1880",
  "moria-cc": "34322",
  "nagrorh": "2077",
  "neni": "5012",
  "nfangorn": "21199",
  "nmorthan": "95122",
  "noc-crack": "8438",
  "noc-wolfgate": "8345",
  "ntbad": "11215",
  "oermgw": "1955",
  "ost-in-edhil": "12638",
  "ow": "4574",
  "pipeweed-smugglers": "2904",
  "pipeweed1": "2176",
  "pipeweed2": "2247",
  "pipeweed3": "2211",
  "pipeweed4": "17705",
  "rd": "7996",
  "rh": "18815",
  "rushey": "3175",
  "sbree": "4863",
  "scarred": "4259",
  "secludeddell": "4957",
  "seekspot": "7492",
  "sfnost": "3373",
  "smorthan": "10514",
  "sppi": "4852",
  "stallorc": "13189",
  "stbad": "11602",
  "steppings": "12649",
  "tallorc": "13420",
  "tbad-cleric-guild": "11490",
  "tbad-mage-guild": "11494",
  "tbad-sewer-guild": "11707",
  "tbad-thief-guild": "11557",
  "tbad-thirstyranger-guild": "11580",
  "tendrils": "6035",
  "throkrath": "20259",
  "tookbank": "2339",
  "treebeard": "20478",
  "valepassage": "99800",
  "vt": "9096",
  "wbree": "4823",
  "wc": "5284",
  "wfnost": "3933",
  "wford": "6248",
  "wmoria": "14967",
  "wruined": "12139",
  "wtbad": "11599",
  "zorc-cave": "8629"
}