{
  "Leaflock": "20975",
  "abr-illusionist": "17802",
  "abr-tower": "16090",
  "aldereon": "1604",
  "amanrandil": "12343",
  "amon": "727",
  "angrim": "17760",
  "azra-zaira": "98838",
  "bbt": "5926",
  "beechbone": "20854",
  "berel-jeraton-quest": "21270",
  "big-john": "10868",
  "bird-trainer": "18778",
  "bm": "85",
  "bm-armour-shop": "17",
  "bm-crazed": "693",
  "bm-jewelry-shop": "43",
  "bm-lockpicks-shop": "70",
  "bm-ranger-guild": "71",
  "bm-rent-aboveground": "17261",
  "bm-rent-underground": "20",
  "bm-scout-guild": "65",
  "bm-warrior-guild": "72",
  "bm-weapon-shop": "19",
  "bombadil": "3275",
  "bonfire-glade": "17364",
  "branch-carve": "558",
  "branch-circle": "8745",
  "branch-dunland": "13869",
  "branch-khuzur": "15213",
  "branch-noc": "8530",
  "branch-tallorc": "14704",
  "branch-vt": "8359",
  "bree-armour-shop": "4886",
  "bree-cleric-guild": "101691",
  "bree-herb-shop": "4881",
  "bree-ranger-guild": "4879",
  "bree-rent": "4860",
  "bree-rent-outside": "4497",
  "bree-scout-guild": "19960",
  "bree-warrior-guild": "100960",
  "bree-weapon-shop": "4882",
  "broghha": "14430",
  "brolg": "66712",
  "bw1": "7896",
  "bw2": "7903",
  "bw3": "7917",
  "bwb": "96272",
  "bwb-boat-shop": "2683",
  "castle-near-fnost": "3677",
  "cinard": "12901",
  "create-focus": "1837",
  "dk": "4960",
  "druid": "3551",
  "dt": "7642",
  "dunland-dwarven-statue": "14259",
  "dunland-fletched-shop": "18766",
  "dunland-lion": "14207",
  "dunland-orcs": "13668",
  "dunland-stone": "14881",
  "dunland-three-way-crossing": "13783",
  "dunland-tomb": "12348",
  "dunland-watchtower": "14278",
  "dwaling": "17234",
  "dwaling-rent": "17237",
  "emoria": "17903",
  "emoria-packhorse": "16852",
  "eoghha": "7449",
  "epriest": "5618",
  "epriest-irondoor": "5701",
  "epriest-mossydoor": "5706",
  "eredhorn": "16287",
  "eruined": "12133",
  "etbad": "11591",
  "fangorn-drink": "20736",
  "fangorn-eagle": "20909",
  "fangorn-leaflock": "20975",
  "fangorn-wraith": "21052",
  "ferny": "4332",
  "fgc-near-big-john": "10755",
  "fgc-spirit": "10755",
  "filthy": "7794",
  "fnost-black-dagger-guild": "3946",
  "fnost-cleric-guild": "3782",
  "fnost-mage-guild": "3778",
  "fnost-ranger-guild": "3929",
  "fnost-scout-guild": "3928",
  "fnost-warrior-guild": "3898",
  "fordable": "5941",
  "foreman": "9274",
  "forlond": "146",
  "forlond-armour-shop": "1741",
  "forlond-boat-shop": "1714",
  "forlond-cleric-guild": "1773",
  "forlond-clothing-shop": "1737",
  "forlond-jewelry-shop": "1722",
  "forlond-mage-guild": "1736",
  "forlond-rent": "1768",
  "foy": "8742",
  "gc1": "7623",
  "gc2": "17779",
  "gc3": "17782",
  "gh-robbers": "1290",
  "gilded": "4810",
  "ginseng1": "5750",
  "ginseng2": "5759",
  "ginseng3": "5683",
  "ginseng4": "5710",
  "ginseng5": "5709",
  "ginseng6": "5714",
  "gladdenford": "99026",
  "goblin-caves": "8175",
  "grey-spider1": "102677",
  "grinder": "6861",
  "guardian": "9435",
  "harlond": "1122",
  "harlond-armour-shop": "1634",
  "harlond-cleric-guild": "1613",
  "harlond-clothing-shop": "1687",
  "harlond-herb-shop": "1659",
  "harlond-mage-guild": "1621",
  "harlond-ranger-guild": "1626",
  "harlond-rent": "1675",
  "harlond-scout-guild": "99335",
  "harlond-spirit-tunnel": "1187",
  "harlond-warrior-guild": "1635",
  "harlond-weapon-shop": "1676",
  "hc": "15689",
  "hermit-fnost": "3792",
  "hermit-greenholm": "2123",
  "hermit-harlond": "1274",
  "hermit-south-bree": "10591",
  "hermit-woodyend": "3158",
  "hillmen-village": "7573",
  "hobbiton": "2432",
  "hobbiton-boat-shop": "2460",
  "hobbiton-rent": "2481",
  "ingrove": "9489",
  "ingrove-armour-shop": "9552",
  "ingrove-herb-shop": "9565",
  "ingrove-mage-guild": "9565",
  "ingrove-ranger-guild": "9555",
  "ingrove-scout-guild": "9563",
  "ingrove-warrior-guild": "9564",
  "isengard": "18516",
  "istari-quest": "1831",
  "khuzur": "15106",
  "lb": "5549",
  "lb-assassin": "5279",
  "lb-eagle": "5521",
  "lbf": "5567",
  "leaf-cake": "20928",
  "liche": "13752",
  "lonely-giant1": "2180",
  "lonely-giant2": "2477",
  "lonely-giant3": "2785",
  "lonely-giant4": "2744",
  "lonely-giant5": "3175",
  "lonely-giant6": "17234",
  "lord": "17481",
  "lord-camp": "17840",
  "lorien": "21954",
  "lorien-anarwen1": "21915",
  "lorien-anarwen2": "95683",
  "lorien-anarwen3": "21925",
  "lorien-anduin-end": "97405",
  "lorien-armour-shop": "21985",
  "lorien-barn-near-etched-trail": "16852",
  "lorien-boats-and-misty-plant-quest": "21921",
  "lorien-bow-shop": "21932",
  "lorien-cave-of-snakes": "97802",
  "lorien-clothing-shop": "22028",
  "lorien-drier-cavern": "96231",
  "lorien-eagle": "16406",
  "lorien-herb-shop": "21624",
  "lorien-honeysuckle1": "21656",
  "lorien-honeysuckle2": "21650",
  "lorien-jewelry-shop": "21984",
  "lorien-mage-guild": "22528",
  "lorien-missile-guild": "95626",
  "lorien-mud": "21750",
  "lorien-nferry": "21814",
  "lorien-orcs-near-etched-trail": "16552",
  "lorien-queen-bee": "21908",
  "lorien-rent-outside": "17149",
  "lorien-rope-maker": "21623",
  "lorien-sferry": "22451",
  "lorien-snake-cave": "97802",
  "lorien-stumps": "16603",
  "lorien-tall-woodland": "21731",
  "lorien-tentacled-beast-entrance": "97805",
  "lorien-treehouse-near-etched-trail": "17068",
  "lorien-warrior-guild": "21957",
  "luxzum": "102139",
  "malardil-forest": "11368",
  "malardil-wall": "11427",
  "md": "1880",
  "misty-plant1": "97000",
  "misty-plant2": "17139",
  "misty-plant3": "16741",
  "misty-plant4": "8993",
  "misty-plant5": "8909",
  "moon-pool": "1807",
  "moria-cc": "34322",
  "mormaeg-entrance": "5808",
  "mormaeg-saferoom": "5828",
  "mrak": "15943",
  "nagrorh": "2077",
  "narv": "10151",
  "necro": "5134",
  "neni": "5012",
  "nfangorn": "21199",
  "nmorthan": "95122",
  "noc-armour-shop": "9233",
  "noc-crack": "8438",
  "noc-foreman": "9274",
  "noc-loremaster": "9238",
  "noc-mage-guild": "9443",
  "noc-ranger-guild": "9366",
  "noc-rent": "9328",
  "noc-scout-guild": "9295",
  "noc-warrior-guild": "9314",
  "noc-wolfgate": "8345",
  "ntbad": "11215",
  "oerbyr": "3422",
  "oermg": "1955",
  "ohurk": "15572",
  "oie": "12638",
  "oie-eagle": "13322",
  "ooc": "15279",
  "ooc-cleric-guild": "15298",
  "ooc-mounts": "98278",
  "ooc-ranger-guild": "15280",
  "overseer": "13137",
  "overseer-key": "13163",
  "ow": "4574",
  "pipeweed-smugglers": "2904",
  "pipeweed1": "2176",
  "pipeweed2": "2247",
  "pipeweed3": "2211",
  "pipeweed4": "17705",
  "pipeweed5": "18120",
  "rd": "7996",
  "rd-armour-shop": "8012",
  "rd-boat-shop": "7989",
  "rd-cleric-guild": "8047",
  "rd-clothing-shop": "8011",
  "rd-herb-shop": "8039",
  "rd-jewelry-shop": "8038",
  "rd-mage-guild1": "8048",
  "rd-mage-guild2": "8053",
  "rd-ranger-guild": "8040",
  "rd-rent": "8046",
  "rd-scout-guild": "8018",
  "rd-warrior-guild": "8016",
  "rdell-cavelion": "7504",
  "rh": "18815",
  "rh-cats": "18702",
  "rh-cavebear": "18577",
  "rh-fletched": "18573",
  "rh-rent": "18820",
  "rhdunland-pack": "14378",
  "rohan-cats": "18687",
  "rtt-smugglers": "11352",
  "ruined-chapel": "10615",
  "rushey": "3175",
  "rushey-boat-shop": "3079",
  "rushey-rent": "18107",
  "sage": "15297",
  "sbree": "4863",
  "scarred": "4259",
  "sd": "19003",
  "secludeddell": "4957",
  "seekspot1": "7492",
  "seekspot2": "7491",
  "seekspot3": "6972",
  "seekspot4": "6978",
  "seekspot5": "7057",
  "sfnost": "3373",
  "shady": "11559",
  "shaghosh": "42184",
  "shire-armour-shop": "2371",
  "shire-clothes-shop": "2425",
  "shire-herb-shop": "2897",
  "shire-ranger-guild": "2411",
  "sk": "11119",
  "sk-pick": "11072",
  "slag": "8284",
  "smorthan": "10514",
  "spinebush1": "5333",
  "spinebush2": "5214",
  "spinebush3": "5212",
  "sppi": "4852",
  "ssc": "5971",
  "stallorc": "13189",
  "star-pool": "1796",
  "stbad": "11602",
  "steppings": "12649",
  "strangehill": "5808",
  "sun-pool": "1834",
  "tallorc": "13420",
  "taurion": "16581",
  "tbad-armour-shop": "11497",
  "tbad-assassin-guild": "11707",
  "tbad-boat-shop": "11576",
  "tbad-chain": "11789",
  "tbad-chief": "11568",
  "tbad-cleric-guild": "11490",
  "tbad-lioness": "12414",
  "tbad-mage-guild": "11494",
  "tbad-necklace": "11786",
  "tbad-noble": "12403",
  "tbad-packhorse": "12030",
  "tbad-rent": "11559",
  "tbad-roof-guild": "11580",
  "tbad-scout-guild": "11557",
  "tbad-smugglers": "11359",
  "tbad-stable": "11534",
  "tbad-weapon-shop": "11556",
  "tendrils": "6035",
  "throkrath": "20259",
  "tipsy": "15742",
  "tmt": "7651",
  "tookbank": "2339",
  "tower-hills-brigands": "1283",
  "trapper": "11365",
  "treebeard": "20478",
  "vale-anduin-end": "97408",
  "vale-fgiant-2": "21749",
  "vale-frontgate": "102212",
  "vale-shrub": "102362",
  "vale-troll-cave": "98824",
  "vale-vines": "9875",
  "valepassage": "98728",
  "valinor-ferry": "95764",
  "vt": "9096",
  "warrens-hatch-inside": "6894",
  "warrens-hatch-outside": "6110",
  "warrens-rent": "6861",
  "warrens-smooth-boots": "6489",
  "warrens-tendrils-inside": "6900",
  "warrens-tendrils-outside": "6035",
  "warrens-tower": "5996",
  "warrens-warrior-guild": "6868",
  "wbree": "4823",
  "wc": "5284",
  "wfnost": "3933",
  "wford": "6248",
  "wight1": "17454",
  "wight2": "17445",
  "wight3": "17447",
  "wight4": "105372",
  "wight5": "17467",
  "wmoria": "14967",
  "wpriest": "4663",
  "wredhorn": "15041",
  "wruined": "12139",
  "wtbad": "11599",
  "wyrdda": "12998",
  "zorc-armour-shop": "8620",
  "zorc-cave": "8629",
  "zorc-ranger-guild": "8628",
  "zorc-rent": "8618",
  "zorc-scout-guild": "8613",
  "zorc-warrior-guild": "8614"
}